<% if (theme.socialLink.baidu) { %>
    <a href="https://www.baidu.com" class="tooltipped" target="_blank" data-tooltip="访问百度" data-position="top" data-delay="50">
        <i class="fa fa-paw"></i>
</a>
<% } %>

<% if (theme.socialLink.google) { %>
    <a href="https://www.google.com" class="tooltipped" target="_blank" data-tooltip="访问谷歌" data-position="top" data-delay="50">
        <i class="fa fa-google"></i>
</a>
<% } %>

<% if (theme.socialLink.bilibili) { %>
    <a href="https://www.bilibili.com" class="tooltipped" target="_blank" data-tooltip="访问哔哩哔哩" data-position="top" data-delay="50">
        <i class="fa fa-bullseye"></i>
</a>
<% } %>

<% if (theme.socialLink.github) { %>
    <a href="https://github.com/zgcr" class="tooltipped" target="_blank" data-tooltip="访问我的GitHub" data-position="top" data-delay="50">
        <i class="fa fa-github-square"></i>
</a>
<% } %>

<% if (theme.socialLink.csdn) { %>
    <a href="https://blog.csdn.net/zgcr654321" class="tooltipped" target="_blank" data-tooltip="访问我的CSDN博客" data-position="top" data-delay="50">
        <i class="fa fa-copyright"></i>
</a>
<% } %>

<% if (theme.socialLink.email) { %>
    <a href="mailto:zgcr@mail.ustc.edu.cn" class="tooltipped" target="_blank" data-tooltip="邮件联系我" data-position="top" data-delay="50">
        <i class="fa fa-envelope-open"></i>
    </a>
<% } %>

<% if (theme.socialLink.qq) { %>
    <a href="tencent://AddContact/?fromId=50&fromSubId=1&subcmd=all&uin=477805745" class="tooltipped" data-tooltip="QQ联系我" data-position="top" data-delay="50">
        <i class="fa fa-qq"></i>
    </a>
<% } %>

